.step-1

  .step-1_header
    .step-1_header__icon
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", class: "header_logo"

    %nav
      %ul
        %li-ok
          会員登録
          .nav-dot-ok
          .nav-line-ok
        %li
          電話番号認証
          .nav-dot
          .nav-line
        %li
          お届け先住所入力
          .nav-dot
          .nav-line
        %li
          支払い方法
          .nav-dot
          .nav-line
        %li
          完了
          .nav-dot
          .nav-line
  
  .form-1
    %h1
      住所入力
    .form-user


      .form-user__nickname
        %label
          お名前
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :first_name, placeholder: "例）山田", class:"input-default"
        = form_for @address, url: new_address_path do |f|
          = f.text_field :last_name, placeholder: "例）彩", class:"input-default"
          -# aria-invalid: true;  ※入力された値は検証に失敗した？
          -# aria-describedby: "nickname-error"; エラーだったら表示？

        -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
        -#   %li#nickname-error.has-error
        -#     ニックネームを入力してください
        -#   %li#nickname-error.has-error
        -#     20文字以下で入力してください


      .form-user__email
        %label
          お名前カナ
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :first_name_kana, placeholder: "例）ヤマダ", class: "input-default"
          = f.text_field :last_name_kana, placeholder: "例）アヤ",class: "input-default"
      .form-user__password
        %label
          郵便番号
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :post_cord, placeholder: "例）123-4567", class:"input-default"
          -# ※フォームが選択されたときに条件分岐でアラート？する
          %ul
            %li#email-error.has-error
            -#   %li#email-error.has-error
            -#     7文字以上128文字以下で入力してください
        %p
      .form-user__password
        %label
          都道府県
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.select :prefectures,  ['sample1', 'sample2', 'sample3'], {include_blank: '北海道'}, class:"input-default"
          
          %ul
            %li#email-error.has-error
            
        %p
         


      .form-user__identification
        %p
         


      .form-user__name
        %label
          市区町村
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :city, placeholder: "例）横浜市緑区", class:"input-default"

      .form-user__name-kana
        %label
          番地
        %span.form-require
          必須
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :address, placeholder: "例）青山1-1-1", class:"input-default"
            

      .form-user__birthday
        %label
          建物名
        %span.form-require__gray
          任意
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :building, placeholder: "例）柳ビル103", class:"input-default"
      
      .form-user__birthday
        %label
          電話
        %span.form-require__gray
          任意
      .form-user__nickname
        = form_for @address, url: new_address_path do |f|
          = f.text_field :telephone, placeholder: "例）09096459666", class:"input-default"

      .form-user__text

      %button{type: "submit", class: "submit"}
        次へ進む

      .form-user__text2

  .step-1_fooder
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー", root_path
        %li
          = link_to "フリーマケット利用規約", root_path
        %li
          = link_to "特定商取引に関する表記", root_path
            

    .fooder-image
      = link_to root_path do
        = image_tag "logo_white.svg", class: "fooder_logo"

    %p
      &copy; Fmarket 64 teamJ
// = form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'third-main__box'} do |f|

// = f.submit "次へ進む", class: 'btn'