.step-2

  .step-2_header
    .step-2_header__icon
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", class: "header_logo"

    %nav.forward
      %ul.forward-bar
        %li.begin
          会員情報
          .forward-dot#begin_forward-dot
          .forward-dot_bar#begin_forward-dot_bar
        %li.phone
          電話番号認証
          .forward-dot#phone_forward-dot
          .forward-dot_bar#phone_forward-dot_bar
        %li.address
          お届け先住所入力
          .forward-dot#address_forward-dot
          .forward-dot_bar#address_forward-dot_bar
        %li.payment
          支払い方法
          .forward-dot#payment_forward-dot
          .forward-dot_bar#payment_forward-dot_bar
        %li.end#end
          完了
          .forward-dot#end_forward-dot
          .forward-dot_bar

  .form-2
    %h1
      会員登録完了
    .complete-user
      .complete-user__text
        ありがとうございます。
        %br
        会員登録が完了しました。
      .complete-user__btn
        = link_to "メルカリを始める", root_path, class: "complete-btn"
        

  

  .step-2_fooder
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー", root_path
        %li
          = link_to "フリーマケット利用規約", root_path
        %li
          = link_to "特定商取引に関する表記", root_path
            

    .fooder-image
      = link_to root_path do
        = image_tag "logo_white.svg", class: "fooder_logo"

    %p
      &copy; Fmarket 64 teamJ