.step-2

  .step-2_header
    .step-2_header__icon
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", class: "header_logo"

    %nav.progress
      %ul.progress-bar
        %li.through
          会員情報
          .progress-dot#through_progress-dot
          .progress-dot_bar#through_progress-dot_bar
        %li.active
          電話番号認証
          .progress-dot#active_progress-dot
          .progress-dot_bar#active_progress-dot_bar
        %li.address
          お届け先住所入力
          .progress-dot#address_progress-dot
          .progress-dot_bar
        %li.payment
          支払い方法
          .progress-dot#payment_progress-dot
          .progress-dot_bar
        %li.end#end
          完了
          .progress-dot#end_progress-dot
          .progress-dot_bar

  .form-2
    %h1
      会員登録完了
    .complete-user
      .complete-user__text
        ありがとうございます。
        %br
        会員登録が完了しました。
      .complete-user__btn
        = link_to "メルカリを始める", root_path, class: "complete-btn"
        

  

  .step-2_fooder
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー", root_path
        %li
          = link_to "フリーマケット利用規約", root_path
        %li
          = link_to "特定商取引に関する表記", root_path
            

    .fooder-image
      = link_to root_path do
        = image_tag "logo_white.svg", class: "fooder_logo"

    %p
      &copy; Fmarket 64 teamJ