.single-header
  .single-header__title
    =link_to "/", class: "title__btn" do
      = image_tag "fmarket_logo_red.svg", size: "200x100", alt: "test"

.select
  .select-content
    .select-content__title
      新規会員登録
      
    .select-content__btn1
      <i class="far fa-envelope"></i>
      = link_to "メールアドレスで登録する", new_user_registration_path, class: 'btn'
    .select-content__btn2
      <i class="fab fa-facebook-square"></i>
      = link_to user_facebook_omniauth_authorize_path do
        = 'Facebookで登録する'
    .select-content__btn3
      <i class="fab fa-google"></i>
      = link_to user_google_oauth2_omniauth_authorize_path do
        = 'Googleで登録する'

.single-footer
  .single-footer__content
    .single-footer__content__1
      プライバシーポリシー
    .single-footer__content__2
      メルカリ利用規約
    .single-footer__content__3
      特定商取引に関する表記
  .single-footer__image
    =link_to "/", class: "title__btn" do
      = image_tag "logo_gray.svg", size: "80x80", alt: "test"
  .single-footer__text
    © 2019 Mercari