.step-1

  .step-1_header
    .step-1_header__icon
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", class: "header_logo"

    %nav
      %ul
        %li-ok
          会員登録
          .nav-dot-ok
          .nav-line-ok
        %li
          電話番号認証
          .nav-dot
          .nav-line
        %li
          お届け先住所入力
          .nav-dot
          .nav-line
        %li
          支払い方法
          .nav-dot
          .nav-line
        %li
          完了
          .nav-dot
          .nav-line
  
  .form-1
    %h1
      住所入力
    .form-user


      .form-user__nickname
        %label
          お名前
        %span.form-require
          必須
        %input{type: "text", name: "last name", placeholder: "例）山田", class: "input-default"}
        %input{type: "text", name: "first name", placeholder: "例）彩", class: "input-default"}
          -# aria-invalid: true;  ※入力された値は検証に失敗した？
          -# aria-describedby: "nickname-error"; エラーだったら表示？

        -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
        -#   %li#nickname-error.has-error
        -#     ニックネームを入力してください
        -#   %li#nickname-error.has-error
        -#     20文字以下で入力してください


      .form-user__email
        %label
          お名前カナ
        %span.form-require
          必須
          %input{type: "text", name: "last name-kana", placeholder: "例）ヤマダ", class: "input-default"}
          %input{type: "text", name: "first name-kana", placeholder: "例）アヤ", class: "input-default"}
          -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
            -#   %li#email-error.has-error
            -#     メールアドレスを入力してください
            -#   %li#email-error.has-error
            -#     フォーマットが不適切です


      .form-user__password
        %label
          郵便番号
        %span.form-require
          必須
        %input{type: "text", name: "postal code", placeholder: "例）123-4567", class: "input-default"}
          -# ※フォームが選択されたときに条件分岐でアラート？する
          %ul
            %li#email-error.has-error
            -#   %li#email-error.has-error
            -#     7文字以上128文字以下で入力してください
        %p
        
        %label
          都道府県
        %input{type: "text", name: "password", placeholder: "7文字以上の半角英数字", class: "input-default"}
          -# ※フォームが選択されたときに条件分岐でアラート？する
          %ul
            %li#email-error.has-error
            -#   %li#email-error.has-error
            -#     7文字以上128文字以下で入力してください
        %p
         

        -# .check_box 
        -#   %input{type: "checkbox", class: "checkbox-input"}
        -#     %i.icon_check
        -#     %label
        -#       パスワードを表示する
        -# .password_revealed
        -#   %span
            -# 打ち込んだパスワードが随時表示される


      .form-user__identification
        %p
         


      .form-user__name
        %label
          市町区村
        %span.form-require
          必須
        .input-name
          %input{type: "text", name: "city", placeholder: "例)横浜市緑区", class: "input-default"}
            -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
              -#   %li#first_name-error.has-error
              -#     姓 を入力してくださいを入力してください
            -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
              -#   %li#last_name-error.has-error
              -#     名 を入力してくださいを入力してください



      .form-user__name-kana
        %label
          番地
        %span.form-require
          必須
        .input-name
          %input{type: "text", name: "address", placeholder: "例) 青山1-1-1", class: "input-default"}
            -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
              -#   %li#first_name-error.has-error
              -#     姓 を入力してくださいを入力してください
            -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
              -#   %li#last_name-error.has-error
              -#     名 を入力してくださいを入力してください


      .form-user__birthday
        %label
          建物名
        %span.form-require__gray
          任意
        %input{type: "text", name: "building name", placeholder: "例) 柳ビル103", class: "input-default"}
          -# %ul  ※フォームが選択されたときに条件分岐でアラート？する
            -#   %li#birthday-error.has-error
            -#      生年月日を入力してください
      .form-user__birthday
        %label
          電話
        %span.form-require__gray
          任意
        %input{type: "text", name: "phone", placeholder: "例) 09012345678", class: "input-default"}
        -# != sprintf(.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        %p

      .form-user__text

      %button{type: "submit", class: "submit"}
        次へ進む

      .form-user__text2
        %p
        //= icon "fas fa-angle-right", class: "fas fa-angle-right"


  .step-1_fooder
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー", root_path
        %li
          = link_to "フリーマケット利用規約", root_path
        %li
          = link_to "特定商取引に関する表記", root_path
            

    .fooder-image
      = link_to root_path do
        = image_tag "logo_white.svg", class: "fooder_logo"

    %p
      &copy; Fmarket 64 teamJ
// = form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'third-main__box'} do |f|

// = f.submit "次へ進む", class: 'btn'