.single-header
  .single-header__title
    =link_to "/", class: "title__btn" do
      = image_tag "fmarket_logo_red.svg", size: "200x100", alt: "test"

.select
  .select-content
    .select-content__title
      新規会員登録
    
    .select-content__menu
      .select-content__menu__area
        = link_to new_user_registration_path , {class: "mail_text"} do
          .select-content__btn1
            %i.far.fa-envelope
            メールアドレスで登録する
            
        = link_to user_facebook_omniauth_authorize_path , {class: "mail_text"} do
          .select-content__btn2
            %i.fab.fa-facebook-square
            Facebookで登録する

        = link_to user_google_oauth2_omniauth_authorize_path , {class: "mail_text"} do
          .select-content__btn3
            %i.fab.fa-google
            Googleで登録する

.single-footer
  .single-footer__content
    .single-footer__content__1
      プライバシーポリシー
    .single-footer__content__2
      メルカリ利用規約
    .single-footer__content__3
      特定商取引に関する表記
  .single-footer__image
    =link_to "/", class: "title__btn" do
      = image_tag "logo_gray.svg", size: "80x80", alt: "test"
  .single-footer__text
    © 2019 Mercari