.mypage-side
  %ul.side-head1
    = link_to personals_path, class: "mymenu" do
      %li マイページ
      %li お知らせ
      %li やることリスト
      %li いいね！一覧
      %li 出品する
      %li 出品した商品・出品中
      %li 出品した商品・取引中
      %li 出品した商品・売却済み
      %li 購入した商品・取引中
      %li 購入した商品・過去の取引
      %li ニュース一覧
      %li 評価一覧
      %li ガイド
      %li お問い合わせ

  %h1.merpay
    メルペイ
  %ul.side-head1
    = link_to personals_path, class: "mymenu" do
      %li 売り上げ・振込申請
      %li ポイント 

  %h2.setting
    設定
  %ul.side-head1
    = link_to edit_user_path(:id), class: "mymenu" do
      %li プロフィール 
      %li 発送元・お届け先住所変更
    = link_to card_show_path(:id), class: "mymenu" do
      %li 支払い方法
    = link_to edit_personal_path(:id), class: "mymenu" do
      %li メール/パスワード
      %li 本人情報
      %li 電話番号の確認
    = link_to destroy_user_session_path, class: "mymenu" do
      %li ログアウト
