.wrapper
  = render "items/top-head"
  - breadcrumb :log_out, @log_out
  = render "layouts/breadcrumbs"
.mypage
  .mypage_main
    = render "sidehead"
    .logout-box
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"

.top-main
  .categoreis-box
    .popularity-categoreis
      .popularity-categoreis__head
        .popularity-categoreis__list
          = link_to new_item_path, class: "category-link" do
            .circle
              %span 出品
              %i.fas.fa-camera

= render "items/top-foot"

