.top-footer
  .footer-content
    .footer-up
      .footer-up__title1
        スマホでかんたんフリマアプリ
      .footer-up__title2
        いますぐ無料ダウンロード！
      .footer-up__icon
        .footer-up__icon__1
          = image_tag "logo_red.svg", size: "80x80", alt: "test"
        .footer-up__icon__2
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", size: "120x120", alt: "test"
        .footer-up__icon__3
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", size: "120x120", alt: "test"
        .footer-image
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", size: "250x250", alt: "test"
        

.down-footer
  .footer-text
    .footer-text1
      %ul.text1-list
        %li.text1-title
          メルカリについて
        %li
          会社概要（運営会社）
        %li
          採用情報
        %li
          プレスリリース
        %li
          公式ブログ
        %li
          メルカリロゴ利用ガイドライン
      .footer-text1__icon
        .footer-text1__icon__1
          <i class="fab fa-twitter"></i>
        .footer-text1__icon__2
          <i class="fab fa-facebook-square"></i>
    .footer-text2
      %ul.text1-list
        %li.text1-title
          ヘルプ＆ガイド
        %li
          メルカリガイド
        %li
          らくらくメルカリ便
        %li
          ゆうゆうメルカリ便
        %li
          大型メルカリ便
        %li
          車体取引ガイド
        %li
          メルカリあんしん・あんぜん宣言！
        %li
          偽ブランド品撲滅への取り組み
        %li
          メルカリボックス
    .footer-text3
      %ul.text1-list
        %li.text1-title
          プライバシーと利用規約
        %li
          プライバシーポリシー
        %li
          メルカリ利用規約
        %li
          あんしんスマホサポート制度に関する利用特約
        %li
          コンプライアンスポリシー
    .footer-text4
      %ul.text1-list
        %li
          偽ブランド品撲滅への取り組み
        %li
          メルカリボックス
        %li
          資金決済法に基づく表示
        %li
          法令順守と犯罪抑止のために
    .footer-text5
      %ul.text1-list
        %li.text1-title
          国
        %li
          日本
        %li
          United States

.last-footer
  .last-footer__icon
    = link_to root_path do
      = image_tag "fmarket_logo_white.svg", size: "120x40", alt: "test"
  .last-footer__text
    © 2019 Fmarket