.top-main
  .categoreis-box
    .popularity-categoreis
      .popularity-categoreis__head
        %h1
          人気のカテゴリー
        .popularity-categoreis__list
          %ul
            %li
              = link_to "レディース", root_path, class: "category-link"
            %li
              = link_to "メンズ", root_path, class: "category-link"
            %li
              = link_to "家電・スマホ・カメラ", root_path, class: "category-link"
            %li
              = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category-link"
        -if user_signed_in?
          = link_to new_item_path, class: "category-link" do
            .circle
              %span 出品
              %i.fas.fa-camera
        -else
          = link_to user_session_path, class: "category-link" do
            .circle
              %span 出品
              %i.fas.fa-camera
      .items-images
        .ladies
          .ladies-new
            .ladies-new-item
              レディース新着アイテム
            = link_to root_path, class: "ladies-new-more" do
              もっと見る
              = icon "fas fa-chevron-right", class: "fas fa-chevron-right"
          %ul.ladies-item
            - @ladies.each do |item|
              = link_to item_path(item.id), class: "item-link" do
                %li.ladies-item-image
                  = image_tag item.item_images[0].image, class: "item_image"
                  -# buyer_idがある時は sold out を表示
                  -# - buyer_id = Item.find_by(item: item.id)
                  -# - buy = Item.find_by(buyer_id: user.id)
                  -# - unless buy == nil
                  -#   .items-box_photo__sold
                  -#     .items-box_photo__sold__inner
                  -#       SOLD

                  .item-price  
                    = "¥ #{item.price.to_s(:delimited)}"
                  .item-name
                    %p
                      = item.name

        .mens
          .mens-new
            .mens-new-item
              メンズ新着アイテム
            = link_to root_path, class: "mens-new-more" do
              もっと見る
              = icon "fas fa-chevron-right", class: "fas fa-chevron-right"
          %ul.mens-item
            - @mens.each do |item|
              = link_to item_path(item.id), class: "item-link" do
                %li.men-item-image
                  = image_tag item.item_images[0].image, class: "item_image"
                  .item-price
                    = "¥ #{item.price.to_s(:delimited)}"
                  .item-name
                    %p
                      = item.name



