.top-main
  .categoreis-box
    .popularity-categoreis
      .popularity-categoreis__head
        %h1
          人気のカテゴリー
        .popularity-categoreis__list
          %ul
            %li
              = link_to "レディース", root_path, class: "category-link"
            %li
              = link_to "メンズ", root_path, class: "category-link"
            %li
              = link_to "家電・スマホ・カメラ", root_path, class: "category-link"
            %li
              = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category-link"

          = link_to new_item_path, class: "category-link" do
            .circle
              %span 出品
              %i.fas.fa-camera

      .items-images
        .ladies
          .ladies-new
            .ladies-new-item
              レディース新着アイテム
            = link_to root_path, class: "ladies-new-more" do
              もっと見る
              = icon "fas fa-chevron-right", class: "fas fa-chevron-right"
          %ul.ladies-item
            - @ladies.each do |item|
              = link_to item_path(item.id), class: "item-link" do
                %li.ladies-item-image
                  = image_tag item.item_images[0].image, class: "item_image"
                  .item-price  
                    = "¥ #{item.price}"
                  .item-name
                    %p
                      = item.name

        .mens
          .mens-new
            .mens-new-item
              メンズ新着アイテム
            = link_to root_path, class: "mens-new-more" do
              もっと見る
              = icon "fas fa-chevron-right", class: "fas fa-chevron-right"
          %ul.mens-item
            - @mens.each do |item|
              = link_to item_path(item.id), class: "item-link" do
                %li.men-item-image
                  = image_tag item.item_images[0].image, class: "item_image"
                  .item-price
                    = "¥ #{item.price}"
                  .item-name
                    %p
                      = item.name



