.top-main
  .categoreis-box
    .popularity-categoreis
      .popularity-categoreis__head
        %h1
          人気のカテゴリー
        .popularity-categoreis__list
          %ul
            %li
              = link_to "レディース", root_path, class: "category-link"
            %li
              = link_to "メンズ", root_path, class: "category-link"
            %li
              = link_to "家電・スマホ・カメラ", root_path, class: "category-link"
            %li
              = link_to "おもちゃ・ホビー・グッズ", root_path, class: "category-link"


          = link_to new_item_path, class: "category-link" do
            .circle
              %span 出品
              %i.fas.fa-camera
              

      .items-images
        .women
          .women-new
            .women-new-item
              レディース新着アイテム
            = link_to root_path, class: "women-new-more" do
              もっと見る
              = icon "fas fa-chevron-right", class: "fas fa-chevron-right"

          %ul.women-item
            - @items.each do |item|
            -# ここは実際の商品情報が入る
            %li.women-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
                .item-text
                = link_to item_path(item.id), method: :get do
                  .item-price  
                    = item.price
                  .item-name
                    %p
                    = item.name


              
        .mens-items
          %p.mens-new
            メンズ新着アイテム
          %ul.mens-item

            -# ここは実際の商品情報が入る
            %li.men-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
              .item-price
                ¥2,000
              .item-name
                %p
                【値下げ】【即購入歓迎】ギンガムチェックワンピース
          
            %li.women-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
              .item-text
                .item-price
                  ¥2,000
                .item-name
                  %p
                  【値下げ】【即購入歓迎】ギンガムチェックワンピース

            %li.men-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
              .item-price
                ¥2,000
              .item-name
                %p
                【値下げ】【即購入歓迎】ギンガムチェックワンピース

            %li.men-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
              .item-price
                ¥2,000
              .item-name
                %p
                【値下げ】【即購入歓迎】ギンガムチェックワンピース

            %li.men-item-image
              = image_tag 'woman-1.jpg', alt: "商品画像", class: "woman-1"
              .item-price
                ¥2,000
              .item-name
                %p
                【値下げ】【即購入歓迎】ギンガムチェックワンピース

            

            
                

            
            


