.item
  .item-header
    %img{:src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", :width => "185px"}>
  .item-exhibit
    .item-exhibit__content
      %h1 &#x5546;&#x54C1;&#x306E;&#x60C5;&#x5831;&#x3092;&#x5165;&#x529B;
    .item-exhibit__image
      .item-exhibit__image__title
        %h1 &#x51FA;&#x54C1;&#x753B;&#x50CF;
        %button{:name => "name", :type => "button", :value => "value"} &#x5FC5;&#x9808;
      .item-exhibit__image__text
        %p &#x6700;&#x5927;10&#x679A;&#x307E;&#x3067;&#x30A2;&#x30C3;&#x30D7;&#x30ED;&#x30FC;&#x30C9;&#x3067;&#x304D;&#x307E;&#x3059;
      .item-exhibit__image__photo
        %h1 &#x30C9;&#x30E9;&#x30C3;&#x30B0;&#x30A2;&#x30F3;&#x30C9;&#x30C9;&#x30ED;&#x30C3;&#x30D7;
        %p &#x307E;&#x305F;&#x306F;&#x30AF;&#x30EA;&#x30C3;&#x30AF;&#x3057;&#x3066;&#x30D5;&#x30A1;&#x30A4;&#x30EB;&#x3092;&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;
      .item-exhibit__image__border
      .item-exhibit__name
      .item-exhibit__details
      .item-exhibit__delivery
      .item-exhibit__price
    .item-footer

商品出品ページ

= form_for @item do |f|

  = f.label :name, "商品名", class: "item-label"
  = f.text_field :name, class: "item-name"
  %br

  = f.label :text, "商品の説明", class: "item-label"
  = f.text_area :text, class: "item-text"
  %br

  = f.label :category_id, "カテゴリー", class: "item-label"
  = f.select :category_id, {レディース: 1, メンズ: 2, ベビー・キッズ: 3}, class: "select-category"
  %br

  = f.label :size, "サイズ", class: "item-label"
  = f.select :size, ["XXS以下", "XS(SS)", "S", "M", "L", "XL(LL)", "2XL(3L)", "3LX(4L)", "4XL(5L)以上", "FREE SIZE"], include_blank: ' --- ', class: "select-size"
  %br

  = f.label :brand_id, "ブランド", class: "item-label"
  = f.text_field :brand_id, class: "item-bland"
  %br

  = f.label :condition, "商品の状態", class: "item-label"
  = f.select :condition, ["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"], class: "item-condition"
  %br

  = f.label :shipping_price, "配送料の負担", class: "item-label"
  = f.select :shipping_price, ["送料込み(出品者負担)", "着払い(購入者負担)"], include_blank: ' --- ', class: "shipping_price"
  %br

  = f.label :shipping_method, "配送の方法", class: "item-label"
  = f.select :shipping_method, ["未定", "らくらくメルカリ便", "ゆうメール", "レターパック", "普通郵便(定形、定形外)", "クロネコヤマト", "ゆうパック", "クリックポスト", "ゆうパケット"], include_blank: ' --- ', class: "shipping_method"
  %br

  = f.label :prefecture_id, "発送元の地域", class: "item-label"
  = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  %br
  
  = f.label :shipping_days, "発送までの日数", class: "item-label"
  = f.select :shipping_days, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], include_blank: ' --- ', class: "shipping_day"
  %br

  = f.label :price, "価格", class: "item-label"
  = f.text_field :price, class: "item-price"
  %br


  = f.submit "出品"

  -# = f.select :shipping_area, ["送料込み(出品者負担)", "着払い(購入者負担)"], include_blank: ' --- ', class: "shipping_area"