= form_for @item do |f|
  .item
    .item-header
      .header-logo
        = link_to root_path do
          = image_tag "fmarket_logo_red.svg", class: "header-logo__icon"


    .item-form

      .item-form-image
        .item-image
          #preview
            %h1 出品画像
            %span.form-require
              必須
          %p 最大10枚までアップロードできます
          .dropzone
            %label.item-label
              .dropzone-text
                %pre
                  ドラック&ドロップ 
                  またはクリックしてファイルをアップロード
              = f.fields_for :item_images do |image|
                = image.file_field :image, multiple: true, name: "item_images[image][]", id: "upload-image", class: "upload-image"


      .item-form-1
        .item-name
          = f.label :name, "商品名", class: "item-label"
          %span.form-require
            必須
          .item-input
            = f.text_field :name, class: "item-input__form", placeholder: "商品名(必須40文字まで)"

        .item-text
          = f.label :text, "商品の説明", class: "item-label"
          %span.form-require
            必須
          .item-input
            = f.text_area :text, size: "20x10", class: "item-input__form", placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、低下、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"


      .item-form-2
        %h2 商品の詳細
        .registration
          .item-category
            = f.label :category_id, "カテゴリー", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.collection_select :category_id, Category.all, :id, :name, class: "item-input__select", prompt: "選択してください"

          .item-size
            = f.label :size, "サイズ", class: "item-label"
            %span.form-require
              任意
            .item-input
              = f.select :size, ["XXS以下", "XS(SS)", "S", "M", "L", "XL(LL)", "2XL(3L)", "3LX(4L)", "4XL(5L)以上", "FREE SIZE"], include_blank: ' --- ', class: "item-input__select" 

          .item-burad
            = f.label :brand_id, "ブランド", class: "item-label"
            %span.form-require
              任意
            .item-input
              = f.text_field :brand_id, class: "item-input__form"

          .item-condition
            = f.label :condition, "商品の状態", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.select :condition, ["新品、未使用", "未使用に近い", "目立った傷や汚れなし", "やや傷や汚れあり", "傷や汚れあり", "全体的に状態が悪い"], class: "item-input__form"


      .item-form-3
        %h3 配送について
        .price-info ?
        .registration
          .item-shipping_price
            = f.label :shipping_price, "配送料の負担", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.select :shipping_price, ["送料込み(出品者負担)", "着払い(購入者負担)"], include_blank: '選択してください', class: "item-input__select"

          .item-shipping_method
            = f.label :shipping_method, "配送の方法", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.select :shipping_method, ["未定", "らくらくメルカリ便", "ゆうメール", "レターパック", "普通郵便(定形、定形外)", "クロネコヤマト", "ゆうパック", "クリックポスト", "ゆうパケット"], include_blank: '選択してください', class: "item-input__select"


          .item-prefecture_id
            = f.label :prefecture_id, "発送元の地域", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください", class: "item-input__select"

          .item-shipping_days
            = f.label :shipping_days, "発送までの日数", class: "item-label"
            %span.form-require
              必須
            .item-input
              = f.select :shipping_days, ["1~2日で発送", "2~3日で発送", "4~7日で発送"], include_blank: '選択してください', class: "item-input__select"


      .item-form-4
        %h4 販売価格(300〜9,999,999)
        .price-info ?
        .registration
          .item-price
            .item-price-left
              = f.label :price, "価格", class: "item-label"
              %span.form-require
                必須
            .item-input
              %p ¥
              = f.text_field :price, class: "item-input__form", placeholder: "例）300"
          .sales-fee
            %p 販売手数料 (10%)
            .sales-fee-price -
          .sales-profit
            %p 販売利益
            .sales-profit-price -


      .item-form-btn
        .consent
          %p 禁止されている出品、行為を必ずご確認ください。
          %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p また、出品をもちまして加盟店規約に同意したことになります。

        .item-btn
          = f.submit "出品する", class: "submit"
        .root-btn
          = link_to "もどる", root_path


    .item-fooder
      %nav
        %ul
          %li
            = link_to "プライバシーポリシー", root_path
          %li
            = link_to "フリーマケット利用規約", root_path
          %li
            = link_to "特定商取引に関する表記", root_path
      .fooder-image
        = link_to root_path do
          = image_tag "logo_white.svg", class: "fooder_logo"
      %p
        &copy; Fmarket 64 teamJ
