.wrapper
  = render "top-head"

.mainbody
  .mainbody__item
    .mainbody__item__title
      = @item.name

    .mainbody__item__content
      .mainbody__item__content__image
        -# sold out
        -if @item.buyer_id.present?
          .items-box_photo__sold
            .items-box_photo__sold__inner
              SOLD
        -# Slider
        .thumbnail
          - @item.item_images.each.with_index do |item_image, index|
            - if index == 0
              .thumbnail__item-current{"data-index": index}
                .thumbnail__item__box
                  = image_tag item_image.image, class: "showimage"
            - else
              .thumbnail__item{"data-index": index}
                .thumbnail__item__box
                  = image_tag item_image.image, class: "showimage"
          - if @item.item_images.length > 5
            - for i in 1..(10 - @item.item_images.length)
              .thumbnail__dummy
        .thumbnail-thumb
          - @item.item_images.each.with_index do |item_image, index|
            - if index == 0
              .thumbnail__item-current{"data-index": index}
                .thumbnail__item__box
                  = image_tag item_image.image, class: "showimage1"
            - else
              .thumbnail__item{"data-index": index}
                .thumbnail__item__box
                  = image_tag item_image.image, class: "showimage1"
          - if @item.item_images.length > 5
            - for i in 1..(10 - @item.item_images.length)
              .thumbnail__dummy
      .mainbody__item__content__post
        %table
          %tr
            %td.td1 出品者名
            %td.td2= @item.seller.nickname
          %tr
            %td.td1 カテゴリー
            %td.td2= @item.category.name
          %tr
            %td.td1 商品の状態
            %td= @item.condition
          %tr
            %td.td1 配送料の負担
            %td= @item.shipping_price
          %tr
            %td.td1 配送の方法
            %td= @item.shipping_method
          %tr
            %td.td1 発送元地域
            %td.td2= @item.prefecture.name
          %tr
            %td.td1 発送日の目安
            %td= @item.shipping_days
            
    .mainbody__item__pricebox
      .mainbody__item__pricebox__price
        ¥
        = @item.price.to_s(:delimited)
      .mainbody__item__pricebox__tax
        (税込)
    .mainbody__item__pricebox__shipping_price
      = @item.shipping_price


    -if user_signed_in?
      -if @item.seller_id == current_user.id
        .mainbody__item__textbox
          = @item.text
        = link_to edit_item_path(@item),class: "booder", data: {turbolinks: false} do
          .signin-edit  商品の編集
        = link_to item_path(@item),class: "booder", method: :delete, data: { turbolinks: false} do
          .item-stop-btn この商品を削除する
      -else
        -if @item.buyer_id.present?
          = link_to "売り切れました", root_path, id: "soldout", class: "mainbody__item__buybox"
        -else
          = link_to "購入画面に進む", "/purchase/#{@item.id}", data: {turbolinks: false}, class: "mainbody__item__buybox"
    -else
      -if @item.buyer_id.present?
        = link_to "売り切れました", root_path, id: "soldout", class: "mainbody__item__buybox"
      -else
        = link_to "購入画面に進む", new_user_session_path, class: "mainbody__item__buybox" 
    -unless user_signed_in? && @item.seller_id == current_user.id
      .mainbody__item__textbox
        = @item.text
      .mainbody__item__btnbox
        .mainbody__item__btnbox__iine
          %i.far.fa-heart
          いいね！
        .mainbody__item__btnbox__report
          %i.far.fa-flag
          不適切な商品の報告
        .mainbody__item__btnbox__anzen
          %i.fas.fa-lock
          あんしん・あんぜんへの取り組み

  .item-select
    .item-select__left
      = link_to "＜前の商品", root_path, class: "select1"
        
    .item-select__right
      = link_to "次の商品＞", root_path, class: "select1"

  .iconbox
    .iconbox2
      .iconbox2__face
        = link_to "https://www.facebook.com/" do
          = image_tag "https://www.facebook.com/images/fb_icon_325x325.png", size: '48x48' 
      .iconbox2__twitter
        = link_to "https://twitter.com/" do
          = image_tag "https://greencard.isb.az/App_Themes/Images/twiticon.png", size: '50x50' 
      .iconbox2__pinte
        = link_to "http://pinterest.com/" do
          = image_tag "https://pngimage.net/wp-content/uploads/2018/06/icono-pinterest-png-4.png", size: '50x50' 

  .usersitem
    .usersitem__title
      = @item.seller.nickname
      さんのその他の出品

  .categoryitem
    .categoryitem__select
      = @item.category.name
      その他の出品  


.wrapper
  - breadcrumb :item, @item
  = render "layouts/breadcrumbs"
  = render "top-foot"

