= render "items/top-head"
= render "pans/pan"


.category-show
  .category-name
    - @item = Item.where(category_id: @category.id)
    = @category.name
    の商品一覧


  .category-item
    %ul
      - @item.each do |item|
        = link_to item_path(item.id), class: "item-link" do
          %li
            = image_tag item.item_images[0].image, class: "item_image"

            -# buyer_idがある時は sold out を表示
            - @item = Item.find(item.id)
            - if @item.buyer_id.present?
              .items__sold
                .items__sold__inner
                  SOLD

            .item-price
              = "¥ #{item.price}"
            .item-name
              %p
                = item.name


= render "items/top-foot"

