.step-1

  .step-1_header
    .step-1_header__icon
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", class: "header_logo"

    %nav
      %ul
        %li
          会員登録
          .nav-dot
        %li
          電話番号認証
          .nav-dot
        %li
          お届け先住所入力
          .nav-dot
        %li-ok
          支払い方法
          .nav-dot-ok
        %li
          完了
          .nav-dot
  
  .form-1
    %h1
      支払い方法
    .form-user
      .form-user__nickname
        %label
          カード番号
        %span.form-require
          必須
        = form_tag(pay_path,method: :post, id: 'charge-form',  name: "inputForm") do
          = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
      .form-user__email
        %label
          有効期限
        %span.form-require
          必須
        .form-user__month
          %select#exp_month{name: "exp_month", type: "text"}
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span 月
          .form-user__year
            %select#exp_year{name: "exp_year", type: "text"}
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
            %spam 年
      .form-user__password
        %label
          セキリュティコード
        %span.form-require
          必須
        %card
          = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
          .user-text
            %card
              = icon "fas fa-angle-right", class: "fas fa-angle-right"
              %text
                カード裏面の番号とは?
        #card_token
          = submit_tag "次へ進む", id: "token_submit", class:"submit"
  .step-1_fooder
    %nav
      %ul
        %li
          = link_to "プライバシーポリシー", root_path
        %li
          = link_to "フリーマケット利用規約", root_path
        %li
          = link_to "特定商取引に関する表記", root_path
    .fooder-image
      = link_to root_path do
        = image_tag "logo_white.svg", class: "fooder_logo"
    %p
      &copy; Fmarket 64 teamJca